**/.idea
workspace.xml
*.iml
*.lock
.DS_Store
.classpath
.cache
.settings/
.target
RUNNING_PID
repository/
monitoring/
**/project/target/*
**/project/project/target/*
**/target/*
logs/
bin/
.sbtserver
out/
passwords.txt
credentials.properties
