<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel - %logger - %message%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${application.home:-.}/logs/application.log</file>
        <encoder>
            <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
        </encoder>
    </appender>

    <!--
      The log name is typically the Java/Scala package name.
      This configures the log level to log at for a package and its children packages.
    -->
    <log name="play" level="INFO"/>
    <log name="application" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="org.avaje.ebean.SQL" level="ERROR"/>
    <logger name="org.avaje.ebean.TXN" level="ERROR"/>
    <logger name="org.avaje.ebean.SUM" level="ERROR"/>

</configuration>
